@media screen and (max-width: 900px) {
  .header {
    width: 100%;
    background: #000;
  }

  .page {
    .filter {
      .el-form {
        .el-form-item {
          display: flex;
          width: 100%;
          padding: 0;
        }
        &__label {
          flex: 0 0 25%;
        }
        &__content {
          flex: 1;
        }
      }
    }
    .table {
      padding: 0;
    }
  }
}